// voisko muuttaa launch-data:ksi tai vaan launch

.home-page__information {
   color: $off-white;
   font-size: $l-size;
}
.home-page__heading {
   color: $off-white;
   font-size: $xl-size;
   margin-bottom: $l-size;
}
