// voisko muuttaa launch-data:ksi tai vaan launch
.home_page__container {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 2;
}

.home-page__information {
   color: $off-white;
   font-size: $l-size;
}
.home-page__heading {
   color: $off-white;
   font-size: $xl-size;
   margin-bottom: $l-size;
}

@media only screen and (max-width: 750px) {
   .home-page__information {
      font-size: $m-size;
      text-align: center;
   }
   .home-page__heading {
      font-size: $m-size;
   }
}
