// voisko muuttaa launch-data:ksi tai vaan launch

.landing-view__information {
   color: $off-white;
   font-size: $l-size;
}
.landing-view__heading {
   color: $off-white;
   font-size: $xl-size;
   margin-bottom: $l-size;
}
