// Timer for home page
.timer {
   color: $off-white;
   font-size: $xxl-size;
}

// Timer for individual launch modulas
.timer--alt {
   background: $off-black;
}

.timer__not-available {
   color: $off-white;
   font-size: $l-size;
}

.timer__semicolon {
   font-size: $l-size;
}
