// Timer for home page
.timer {
   color: $off-white;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.timer__not-available {
   color: $off-white;
   font-size: $l-size;
}
.timer__unit {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.timer__unit_number {
   font-size: $xxl-size;
}
.timer__unit_text {
   font-size: $m-size;
   text-align: center;
   text-transform: uppercase;
}
.timer__semicolon {
   font-size: $l-size;
   padding: 0 1rem;
}

// Timer for individual launch modulas
.timer--alt {
   color: $off-white;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.timer__unit_number--alt {
   font-size: $l-size;
}
.timer__unit_text--alt {
   font-size: $s-size;
   text-align: center;
   text-transform: uppercase;
}
.timer__semicolon--alt {
   font-size: $m-size;
   padding: 0 0.5rem;
}

@media only screen and (max-width: 750px) {
   .timer__unit_number {
      font-size: $xl-size;
   }
   .timer__unit_text {
      font-size: $s-size;
   }
   .timer__semicolon {
      font-size: $m-size;
   }
}
