.launch-card {
   background: $off-something;
   margin: $l-size 0;
   height: 300px;
   display: flex;
   border-radius: 30px;
   overflow: hidden;
   flex-direction: row;
}

.launch-card__header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.launch-card__status {
   border: 1px solid $off-white;
   border-radius: 30px;
   padding: $s-size $m-size;
   color: $off-white;
}

.launch-card__image-container {
   width: 50%;
   display: flex;
}

.launch-card__image {
   width: 100%;
   //height: 300px;
   object-fit: cover;
}

.launch-card__info {
   padding: $m-size;
   width: 100%;
}
.launch-card__text-container {
   display: flex;
   margin: $s-size;
}
.launch-card__icon {
   margin-right: $s-size;
}
.launch-card__text {
   color: $off-white;
}

@media only screen and (max-width: 750px) {
   .launch-card {
      margin: $l-size 0;
      flex-direction: column;
      height: auto;
   }
   .launch-card__image-container {
      width: 100%;
   }
   .launch-card__image {
      height: 50rem;
   }
}
@media only screen and (max-width: 400px) {
   .launch-card__header {
      font-size: $sm-size;
   }
   .launch-card__image {
      height: 30rem;
   }
}
