.timer {
   position: absolute;
   width: 100vw;
   text-align: center;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 28vh;
}
.time-component {
   font-family: 'Noto Sans', sans-serif;
   color: white;
   font-style: normal;
   font-weight: normal;
   font-size: 230px;
   letter-spacing: -0.02em;
   text-shadow: 2px 2px black;
}
.time-semicolon {
   color: white;
   font-size: 180px;
   font-family: 'Noto Sans', sans-serif;
   text-shadow: 1px 1px black;
}
.time-not-available {
   font-family: 'Noto Sans', sans-serif;
   color: white;
   font-style: normal;
   font-weight: normal;
   font-size: 60px;
   letter-spacing: -0.02em;
   text-shadow: 2px 2px black;
   margin-bottom: 150px;
}
