.hero {
   position: fixed;
   z-index: -1;
   top: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hero h1 {
   pointer-events: none;
}
.hero img {
   position: fixed;
   z-index: -1;
   top: 0;
   width: 100vw;
   height: 100vh;
   opacity: 0.8;
}
.loading-mask {
   transition: 0.5s ease-in;
   background: black;
   position: absolute;
   width: 50vw;
   height: 100vh;
   top: 0;
}
.loading-mask.left {
   left: 0;
   transform: translateX(0%);
}
.loading-mask.left.fade {
   transform: translateX(-100%);
}
.loading-mask.right {
   right: 0;
}
.loading-mask.right.fade {
   transform: translateX(100%);
}
