* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.loading-mask {
   transition: 0.5s ease-in;
   background: black;
   position: absolute;
   width: 50vw;
   height: 100vh;
   top: 0;
   z-index: 100;
}
.loading-mask.left {
   left: 0;
   transform: translateX(0%);
}
.loading-mask.left.fade {
   transition: 0.5s ease-in;
   width: 0;
}
.loading-mask.right {
   right: 0;
}
.loading-mask.right.fade {
   transition: 0.5s ease-in;
   width: 0;
}
