* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: Helvetica, Arial, sans-serif !important;
   font-size: $m-size !important;
   background: $dark-blue !important;
}
